body {
    background-color: seashell;
}
h1 {
    text-align: center;
    color: teal;
}

.secondiv {
    text-align: center;
    color: teal;;
    }
.img {
    width: 600x;
    height: 400px;
    margin: 40px;
    border: black 5px solid;
    border-radius: 20px;
}    
.thirdiv {
    font-size:  20px;
    text-align: center;
    margin: 40px;
}
p {
    text-align: left;
    font-size: 20px;
}
.fourdiv {
    text-align: center;
    margin: 40px;
    font-size: 20px;
}

.fivediv {
    text-align: center;
    margin: 40px;
    font-size: 20px;
}
.sixdiv {
    text-align: center;
    margin: 40px;
    font-size: 20px;
}
.sevendiv {
    text-align: center;
    margin: 40px;
    font-size: 20px;
}
.eightdiv {
    display: inline-block; 
    text-align: center; 
    margin: 40px;
    font-size: 20px;
}
.divm {
     display: inline-block; 
        text-align: left; 
    
    
}
