body {
    background-image: url("https://image.freepik.com/foto-gratis/lasana-clasica-salsa-bolonesa_2829-11251.jpg");
    background-size: cover;
    background-position: center center;
}
    h1 {
        color: black;
        text-align: center;
    }
    img {
        width: 400px;
    }
    #thirdDiv {
        height: 600px;
        width: 500px;
        padding: 50px;
        border: 2px solid black;
        background-color: rgba(47, 47, 80, 0.5);
        
    }
    #spanId {
        font-size: 25px;
        margin: 50px;
    }

    
